@{
    ViewData["Title"] = "Home Page";
}

<p class="text-light bg-dark py-2 text-center">Press Space to pause/play the game!!</p>
<div class="gameContainer mt-3 bg-info">
    <canvas id="gameCanvas" height="500" width="600"></canvas>
    <script src=""></script>
</div>
