@{
    ViewData["Title"] = "Home Page";
}

<div class="gameContainer mt-3 bg-info">
    <p>Press Space to pause the game!!</p>
    <canvas id="gameCanvas" height="500" width="600"></canvas>
    <script src=""></script>
</div>
